<!DOCTYPE html>
<html>
  <head>
      <title>The Minimal React Webpack Babel Setup</title>
      <script>
        const user2 = "<%= name2 %>" + "TODO: is template in string okay? other sec considerations?";
      </script>
  </head>
  <body>
    <h1>Hello, <%= name2 %></h1>
    <div id="app"></div>
    <script src="js/bundle.js"></script>
  </body>
</html>
