<!DOCTYPE html>
<html>
  <head>
      <title>Seazme Search</title>
      <script>
        const user2 = "<%= name2 %>";
      </script>
  </head>
  <body>
    <div id="root"></div>
    <script src="js/bundle.js"></script>
  </body>
</html>
